<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <!--xmlns="http://www.springframework.org/schema/util"    -->

    <bean id="person" class="com.fanxl.study.Person">
        <property name="name" value="张三"></property>
    </bean>

    <!--通过构造方法来配置bean属性-->
    <bean id="car" class="com.fanxl.study.Car">
        <constructor-arg value="Audi"></constructor-arg>
        <constructor-arg value="ShangHai"></constructor-arg>
        <constructor-arg value="300000"></constructor-arg>
    </bean>

    <!--通过构造方法注入属性值可以指定参数的位置-->
    <bean id="car1" class="com.fanxl.study.Car">
        <constructor-arg value="DaZhong" index="0"></constructor-arg>
        <constructor-arg value="ShangHai" index="1"></constructor-arg>
        <constructor-arg value="300000" index="2"></constructor-arg>
    </bean>

    <!--通过构造方法注入属性值可以指定参数的类型-->
    <bean id="car2" class="com.fanxl.study.Car">
        <constructor-arg value="Baoma" type="java.lang.String"></constructor-arg>
        <!-- 如果字面包含特殊字符可以使用<![CDATA[]>包裹起来 -->
        <constructor-arg type="java.lang.String">
            <value><![CDATA[<ShangHai^>]]></value>
        </constructor-arg>
        <constructor-arg type="int">
            <value>240</value>
        </constructor-arg>
    </bean>

    <!--通过构造方法来配置bean属性-->
    <bean id="car3" class="com.fanxl.study.Car">
        <constructor-arg value="TeSiLa"></constructor-arg>
        <constructor-arg value="ShangHai"></constructor-arg>
        <constructor-arg value="40000"></constructor-arg>
        <!--null值-->
        <!--<constructor-arg><null></null></constructor-arg>-->
    </bean>

    <!-- 公司引用其他bean -->
    <bean id="company" class="com.fanxl.study.Company">
        <property name="name" value="上海激荡体育管理有限公司"/>
        <!--可以使用ref属性建立bean之间的引用关系-->
        <property name="car" ref="car3"></property>
        <!--<property name="car">-->
            <!--<ref bean="car3"/>-->
        <!--</property>-->
    </bean>

    <!-- 内部bean -->
    <bean id="company1" class="com.fanxl.study.Company">
        <property name="name" value="上海托科软件管理有限公司"/>
        <property name="car">
            <bean class="com.fanxl.study.Car">
                <constructor-arg value="QQ"></constructor-arg>
                <constructor-arg value="ShangHai"></constructor-arg>
                <constructor-arg value="60000"></constructor-arg>
            </bean>
        </property>
    </bean>

    <!--给引用的bean赋值-->
    <bean id="company2" class="com.fanxl.study.Company">
        <constructor-arg value="上海中原地产"></constructor-arg>
        <constructor-arg ref="car3"></constructor-arg>
        <!--为级联属性赋值 注意：属性需要先初始化后才可以为级联属性赋值，否则会抛异常-->
        <property name="car.maxSpeed" value="260"></property>
    </bean>

    <!--配置list属性值-->
    <bean id="person1" class="com.fanxl.study.collections.Person">
        <property name="name" value="上海第一百货公司"/>
        <property name="carList">
            <!-- 使用list节点为List类型的属性赋值 -->
            <list>
                <ref bean="car"/>
                <ref bean="car1"/>
                <bean class="com.fanxl.study.Car">
                    <constructor-arg value="XueFuLai"></constructor-arg>
                    <constructor-arg value="WuHan"></constructor-arg>
                    <constructor-arg value="23000"></constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <!--配置Map属性值-->
    <bean id="student" class="com.fanxl.study.collections.Student">
        <property name="name" value="LiSi"></property>
        <property name="carMap">
            <!--使用map节点及map的entry子节点配置Map类型的成员变量-->
            <map>
                <entry key="qq" value-ref="car3"></entry>
                <entry key="baoMa" value-ref="car2"></entry>
            </map>
        </property>
    </bean>

    <!--配置Properties属性值-->
    <bean id="dataSource" class="com.fanxl.study.collections.DataSource">
        <property name="properties">
            <!--使用props和prop子节点为Properties属性赋值-->
            <props>
                <prop key="user">root</prop>
                <prop key="password">fxl123</prop>
            </props>
        </property>
    </bean>

    <!--配置单例的集合bean，以供多个bean进行引用，需要导入util命名空间-->
    <util:list id="carList">
        <ref bean="car"/>
        <ref bean="car1"/>
    </util:list>

    <!--配置list属性值-->
    <bean id="person2" class="com.fanxl.study.collections.Person">
        <property name="name" value="上海第一百货公司"/>
        <property name="carList" ref="carList">
        </property>
    </bean>

    <!--利用p来简化属性配置，需要引入p的命名空间-->
    <bean id="person3" class="com.fanxl.study.collections.Person" p:name="WangWu" p:carList-ref="carList">

    </bean>


</beans>